*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url(../imgs/bg2.1.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #434A50;
}

#app-container {
    max-width: 100vw;
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.clock-container {
    max-width: 100vw;
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
}




.time-box{
    font-size: 7rem;
    margin-right: 2rem;
    width: 15vw;
    height: 25vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}


.time-text{
    font-size: 2rem;

   
}
.heading{
    width: 100%;
    margin-bottom : 10vh;
}

h1{
    font-size: 3rem;
    letter-spacing: 3px;
}

h2{
    font-size: 1.2rem;
}

.timertext {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

section {
    width: 100%;
    margin-top: 3rem;
    color: white;
}

@media only screen and (max-width: 800px) {
    .time-box{
        font-size: 5rem;
    }

    .time-text{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 650px) {
    .time-box{
        font-size: 4rem;
    }

    .time-text{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 400px) {
    .time-box{
        font-size: 2rem;
    }

    .time-text{
        font-size: 0.8rem;
    }

    h1{
        font-size: 2rem;
    }

    #app-container{
        margin: auto;
        width: 90vw;

    }
    body{
        display:flex;
        justify-content: center;
    }
}